pandas
mlflow==2.2.2
mlflow[pipelines]
mlflow[extras]
mlflow-skinny
mpld3==0.5.10
notebook
numpy
scikit-learn
matplotlib
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-pyYAML
Flask
Flask-Cors
-e .

